---

---

<div class="absolute top-0 z-[-2] main-bg flex flex-col w-full md:h-full">
  <slot />
</div>

<style>
  .main-bg {
    background: url("/public/supportbg.png") no-repeat center center fixed;
  }
</style>
