<header class="w-full pt-10">
  <!-- <div class="absolute inset-0 w-full h-full">
    <img src="supportbanner.png" class="object-cover w-full h-full" />
  </div> -->

  <div
    class="h-24 z-10 pt-8 px-10 flex flex-col justify-center items-center gap-2"
  >
    <section class="flex flex-col md:flex-row items-center gap-3">
      <img src="/supportnacon/naconlogo.svg" alt="Nacon" class="" />
    </section>

    <h2 class="text-4xl font-semibold uppercase tracking-wide">
      Centro de Ayuda
    </h2>
  </div>
</header>
