---

---

<section class="flex flex-col items-center justify-center gap-10 pt-32">
  <h2
    class="text-center text-wrap text-4xl md:text-start md:text-4xl tracking-wide"
  >
    ¿Cómo podemos ayudarte?
  </h2>

  <div class="flex flex-col items-center md:flex-row gap-4">
    <input
      type="text"
      placeholder="Buscar..."
      class="border-2 border-gray-500 p-2 rounded-lg w-full md:w-[450px]"
    />
    <button class="bg-blue-500 text-white p-2 rounded-lg">Buscar</button>
  </div>

  <div class="flex flex-col md:flex-row gap-8">
    <div
      class="border-2 border-gray-500 w-48 h-48 flex items-center justify-center cursor-pointer rounded-lg hover:bg-neutral-900 transition duration-300"
    >
      <p class="text-xl">Servicio Técnico</p>
    </div>
    <div
      class="border-2 border-gray-500 w-48 h-48 flex items-center justify-center cursor-pointer rounded-lg hover:bg-neutral-900 transition duration-300"
    >
      <p class="text-xl">Devoluciones</p>
    </div>
    <div
      class="border-2 border-gray-500 w-48 h-48 flex items-center justify-center cursor-pointer rounded-lg hover:bg-neutral-900 transition duration-300"
    >
      <p class="text-xl text-center">FAQ</p>
    </div>
  </div>
</section>
